AgrregatorSvc/Service References/AccountInfoService/AccountInfoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContractLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FathersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsKycDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MothersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" type="xs:int" />
      <xs:element minOccurs="0" name="UniqueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalInfo" nillable="true" type="tns:PersonalInfo" />
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfscCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankInfo" nillable="true" type="tns:BankInfo" />
  <xs:complexType name="ArrayOfSchemeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchemeInfo" nillable="true" type="tns:SchemeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchemeInfo" nillable="true" type="tns:ArrayOfSchemeInfo" />
  <xs:complexType name="SchemeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FundManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPreferred" type="xs:boolean" />
      <xs:element minOccurs="0" name="PercantageContribution" type="xs:int" />
      <xs:element minOccurs="0" name="SchemeId" type="xs:int" />
      <xs:element minOccurs="0" name="SchemeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeInfo" nillable="true" type="tns:SchemeInfo" />
</xs:schema>