MutlitenancyClient/Service References/FinancialService/FinancialService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContractLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FacilityRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentClient" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="FacilityAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="FaciliytId" type="xs:int" />
      <xs:element minOccurs="0" name="FaciliytType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacilityRequest" nillable="true" type="tns:FacilityRequest" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
</xs:schema>