AggregatorSvcService/Service References/AccountInfoService/AccountInfoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50586/AccountInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" />
  <xs:element name="ViewPersonalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewPersonalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="ViewPersonalInfoResult" nillable="true" type="q1:PersonalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBankInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBankInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="ViewBankInfoResult" nillable="true" type="q2:BankInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSchemeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSchemeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="GetCurrentSchemeDetailsResult" nillable="true" type="q3:ArrayOfSchemeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemePreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemePreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="GetSchemePreferenceResult" nillable="true" type="q4:SchemeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>