AgrregatorSvc/Connected Services/FacilityServiceClient/FacilityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56782/FacilityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" />
  <xs:element name="CreateFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="value" nillable="true" type="q1:FacilityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="CreateFacilityResult" nillable="true" type="q2:FacilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="value" nillable="true" type="q3:FacilityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="UpdateFacilityResult" nillable="true" type="q4:FacilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>