AgrregatorSvc/Service References/ContributionService/ContributionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50967/ContributionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" />
  <xs:element name="ContributeOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
        <xs:element minOccurs="0" name="product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContributeOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="ContributeOnlineResult" nillable="true" type="q1:ValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSchemePreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
        <xs:element minOccurs="0" name="newSchemePreferenceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSchemePreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="ChangeSchemePreferenceResult" nillable="true" type="q2:ValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFundManagerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
        <xs:element minOccurs="0" name="fundManagerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFundManagerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="ChangeFundManagerNameResult" nillable="true" type="q3:ValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>