AgrregatorSvc/Service References/ContributionService/ContributionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContributionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50967/ContributionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50967/ContributionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50967/ContributionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContributionService_ContributeOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:ContributeOnline" />
  </wsdl:message>
  <wsdl:message name="IContributionService_ContributeOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContributeOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IContributionService_ChangeSchemePreference_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSchemePreference" />
  </wsdl:message>
  <wsdl:message name="IContributionService_ChangeSchemePreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSchemePreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IContributionService_ChangeFundManagerName_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeFundManagerName" />
  </wsdl:message>
  <wsdl:message name="IContributionService_ChangeFundManagerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeFundManagerNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IContributionService">
    <wsdl:operation name="ContributeOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributionService/ContributeOnline" message="tns:IContributionService_ContributeOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributionService/ContributeOnlineResponse" message="tns:IContributionService_ContributeOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSchemePreference">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributionService/ChangeSchemePreference" message="tns:IContributionService_ChangeSchemePreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributionService/ChangeSchemePreferenceResponse" message="tns:IContributionService_ChangeSchemePreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeFundManagerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributionService/ChangeFundManagerName" message="tns:IContributionService_ChangeFundManagerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributionService/ChangeFundManagerNameResponse" message="tns:IContributionService_ChangeFundManagerName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContributionService" type="tns:IContributionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContributeOnline">
      <soap:operation soapAction="http://tempuri.org/IContributionService/ContributeOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSchemePreference">
      <soap:operation soapAction="http://tempuri.org/IContributionService/ChangeSchemePreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeFundManagerName">
      <soap:operation soapAction="http://tempuri.org/IContributionService/ChangeFundManagerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContributionService">
    <wsdl:port name="BasicHttpBinding_IContributionService" binding="tns:BasicHttpBinding_IContributionService">
      <soap:address location="http://localhost:50967/ContributionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>