DSP/Service References/AccountBankingService/AccountBankingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContractLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGroupingHoldingSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupingHoldingSummaryData" nillable="true" type="tns:GroupingHoldingSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupingHoldingSummaryData" nillable="true" type="tns:ArrayOfGroupingHoldingSummaryData" />
  <xs:complexType name="GroupingHoldingSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupingId" type="xs:int" />
      <xs:element minOccurs="0" name="HoldingSummaryData" nillable="true" type="tns:ArrayOfHoldingSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupingHoldingSummaryData" nillable="true" type="tns:GroupingHoldingSummaryData" />
  <xs:complexType name="ArrayOfHoldingSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoldingSummaryData" nillable="true" type="tns:HoldingSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoldingSummaryData" nillable="true" type="tns:ArrayOfHoldingSummaryData" />
  <xs:complexType name="HoldingSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoldingSummaryId" type="xs:int" />
      <xs:element minOccurs="0" name="Nav" type="xs:decimal" />
      <xs:element minOccurs="0" name="OperationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchemeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalUnits" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoldingSummaryData" nillable="true" type="tns:HoldingSummaryData" />
  <xs:complexType name="ArrayOfTransactionalHoldingSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionalHoldingSummaryData" nillable="true" type="tns:TransactionalHoldingSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionalHoldingSummaryData" nillable="true" type="tns:ArrayOfTransactionalHoldingSummaryData" />
  <xs:complexType name="TransactionalHoldingSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoldingSummaryData" nillable="true" type="tns:HoldingSummaryData" />
      <xs:element minOccurs="0" name="TransactionSummaryData" nillable="true" type="tns:TransactionSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionalHoldingSummaryData" nillable="true" type="tns:TransactionalHoldingSummaryData" />
  <xs:complexType name="TransactionSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionSummaryId" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionSummaryData" nillable="true" type="tns:TransactionSummaryData" />
  <xs:complexType name="ArrayOfGroupingTransactionSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupingTransactionSummaryData" nillable="true" type="tns:GroupingTransactionSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupingTransactionSummaryData" nillable="true" type="tns:ArrayOfGroupingTransactionSummaryData" />
  <xs:complexType name="GroupingTransactionSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupingId" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionsSummaryData" nillable="true" type="tns:ArrayOfTransactionSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupingTransactionSummaryData" nillable="true" type="tns:GroupingTransactionSummaryData" />
  <xs:complexType name="ArrayOfTransactionSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionSummaryData" nillable="true" type="tns:TransactionSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionSummaryData" nillable="true" type="tns:ArrayOfTransactionSummaryData" />
  <xs:complexType name="TransactionSummaryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionSummary" nillable="true" type="tns:ArrayOfTransactionSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionSummaryResponse" nillable="true" type="tns:TransactionSummaryResponse" />
</xs:schema>