DSP/Service References/AccountBankingService/AccountBankingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50586/AccountBankingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" />
  <xs:complexType name="HoldingSummaryResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="AllocatedHoldingsUserWise" nillable="true" type="q1:ArrayOfGroupingHoldingSummaryData" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="AllocatedTransactionalHoldingsSummaryData" nillable="true" type="q2:ArrayOfTransactionalHoldingSummaryData" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="BankingFundsDetails" nillable="true" type="q3:ArrayOfHoldingSummaryData" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="BestSchemeUserWise" nillable="true" type="q4:ArrayOfGroupingHoldingSummaryData" />
      <xs:element minOccurs="0" name="DepostAmountOnly" type="xs:decimal" />
      <xs:element minOccurs="0" name="HighDepostAmountOnly" type="xs:decimal" />
      <xs:element minOccurs="0" name="HighWithdrawalAmountOnly" type="xs:decimal" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="HoldingSummaryData" nillable="true" type="q5:ArrayOfHoldingSummaryData" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="HoldingsOfGoldSchemeUserWise" nillable="true" type="q6:ArrayOfGroupingHoldingSummaryData" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="HoldingsReportByDatesRange" nillable="true" type="q7:ArrayOfHoldingSummaryData" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="HoldingsUserWise" nillable="true" type="q8:ArrayOfGroupingHoldingSummaryData" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="HoldingsWithInMaximumNavUserWise" nillable="true" type="q9:ArrayOfGroupingHoldingSummaryData" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="HoldingsWithInMinimumUserWise" nillable="true" type="q10:ArrayOfGroupingHoldingSummaryData" />
      <xs:element minOccurs="0" name="LowDepostAmountOnly" type="xs:decimal" />
      <xs:element minOccurs="0" name="LowWithdrawalAmountOnly" type="xs:decimal" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="MaximumNoOfUnitsHoldingsUserWise" nillable="true" type="q11:ArrayOfGroupingHoldingSummaryData" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="MinimumNoOfunitsHoldingsUserWise" nillable="true" type="q12:ArrayOfGroupingHoldingSummaryData" />
      <xs:element minOccurs="0" name="Nav" type="xs:decimal" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="NoOfDepostTransctionsUserWise" nillable="true" type="q13:ArrayOfGroupingTransactionSummaryData" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="NoOfMaximumDepostTransctionsUserWise" nillable="true" type="q14:ArrayOfGroupingTransactionSummaryData" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="NoOfMaximumWithdrawalTransctionsUserWise" nillable="true" type="q15:ArrayOfGroupingTransactionSummaryData" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="NoOfMinimumDepostTransctionsUserWise" nillable="true" type="q16:ArrayOfGroupingTransactionSummaryData" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="NoOfMinimumWithdrawalTransctionsUserWise" nillable="true" type="q17:ArrayOfGroupingTransactionSummaryData" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="NoOfTransctionsUserWise" nillable="true" type="q18:ArrayOfGroupingTransactionSummaryData" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="NoOfWithdrawalsTransctionsUserWise" nillable="true" type="q19:ArrayOfGroupingTransactionSummaryData" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="RedeemedHoldingsUserWise" nillable="true" type="q20:ArrayOfGroupingHoldingSummaryData" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="RedeemedTransactionalHoldingsSummaryData" nillable="true" type="q21:ArrayOfTransactionalHoldingSummaryData" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:float" />
      <xs:element minOccurs="0" name="TotalUnits" type="xs:decimal" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="TransactionSummary" nillable="true" type="q22:ArrayOfTransactionSummaryData" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="TransactionSummaryResponse" nillable="true" type="q23:TransactionSummaryResponse" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="TransactionalHoldingsSummaryData" nillable="true" type="q24:ArrayOfTransactionalHoldingSummaryData" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="TransactionalHoldingsSummaryDataForDatesRange" nillable="true" type="q25:ArrayOfTransactionalHoldingSummaryData" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="TransactionalReportByDatesRange" nillable="true" type="q26:ArrayOfTransactionSummaryData" />
      <xs:element minOccurs="0" name="WithdrawalAmountOnly" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoldingSummaryResponse" nillable="true" type="tns:HoldingSummaryResponse" />
  <xs:complexType name="ArrayOfUserContributionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserContributionData" nillable="true" type="tns:UserContributionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserContributionData" nillable="true" type="tns:ArrayOfUserContributionData" />
  <xs:complexType name="UserContributionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uniqueid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserContributionData" nillable="true" type="tns:UserContributionData" />
  <xs:complexType name="PersonalDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" type="xs:int" />
      <xs:element minOccurs="0" name="Uniqueid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalDetails" nillable="true" type="tns:PersonalDetails" />
  <xs:complexType name="ValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResponse" nillable="true" type="tns:ValidationResponse" />
</xs:schema>