DSP/Service References/AccountBankingService/AccountBankingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountBankingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50586/AccountBankingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50586/AccountBankingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50586/AccountBankingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Entities" />
      <xsd:import schemaLocation="http://localhost:50586/AccountBankingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountBankingService_GetHoldingSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHoldingSummary" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_GetHoldingSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHoldingSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_AddTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactions" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_AddTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_AddHoldings_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHoldings" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_AddHoldings_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHoldingsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_UpdateHolding_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHolding" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_UpdateHolding_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHoldingResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_UpdateTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransaction" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_UpdateTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_GetUserContribution_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserContribution" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_GetUserContribution_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserContributionResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_UpdatePersonalDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonalDetails" />
  </wsdl:message>
  <wsdl:message name="IAccountBankingService_UpdatePersonalDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonalDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountBankingService">
    <wsdl:operation name="GetHoldingSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountBankingService/GetHoldingSummary" message="tns:IAccountBankingService_GetHoldingSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountBankingService/GetHoldingSummaryResponse" message="tns:IAccountBankingService_GetHoldingSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountBankingService/AddTransactions" message="tns:IAccountBankingService_AddTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountBankingService/AddTransactionsResponse" message="tns:IAccountBankingService_AddTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHoldings">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountBankingService/AddHoldings" message="tns:IAccountBankingService_AddHoldings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountBankingService/AddHoldingsResponse" message="tns:IAccountBankingService_AddHoldings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHolding">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountBankingService/UpdateHolding" message="tns:IAccountBankingService_UpdateHolding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountBankingService/UpdateHoldingResponse" message="tns:IAccountBankingService_UpdateHolding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountBankingService/UpdateTransaction" message="tns:IAccountBankingService_UpdateTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountBankingService/UpdateTransactionResponse" message="tns:IAccountBankingService_UpdateTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserContribution">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountBankingService/GetUserContribution" message="tns:IAccountBankingService_GetUserContribution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountBankingService/GetUserContributionResponse" message="tns:IAccountBankingService_GetUserContribution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonalDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountBankingService/UpdatePersonalDetails" message="tns:IAccountBankingService_UpdatePersonalDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountBankingService/UpdatePersonalDetailsResponse" message="tns:IAccountBankingService_UpdatePersonalDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountBankingService" type="tns:IAccountBankingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHoldingSummary">
      <soap:operation soapAction="http://tempuri.org/IAccountBankingService/GetHoldingSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransactions">
      <soap:operation soapAction="http://tempuri.org/IAccountBankingService/AddTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHoldings">
      <soap:operation soapAction="http://tempuri.org/IAccountBankingService/AddHoldings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHolding">
      <soap:operation soapAction="http://tempuri.org/IAccountBankingService/UpdateHolding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <soap:operation soapAction="http://tempuri.org/IAccountBankingService/UpdateTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserContribution">
      <soap:operation soapAction="http://tempuri.org/IAccountBankingService/GetUserContribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonalDetails">
      <soap:operation soapAction="http://tempuri.org/IAccountBankingService/UpdatePersonalDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountBankingService">
    <wsdl:port name="BasicHttpBinding_IAccountBankingService" binding="tns:BasicHttpBinding_IAccountBankingService">
      <soap:address location="http://localhost:50586/AccountBankingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>