MySequentialWorkflow/Service References/AccountInfoServiceReference/AccountInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50585/AccountInfoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50585/AccountInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50585/AccountInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountInfoService_ViewPersonalInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewPersonalInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountInfoService_ViewPersonalInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewPersonalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountInfoService_ViewBankInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewBankInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountInfoService_ViewBankInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewBankInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountInfoService_GetCurrentSchemeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSchemeDetails" />
  </wsdl:message>
  <wsdl:message name="IAccountInfoService_GetCurrentSchemeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSchemeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountInfoService_GetSchemePreference_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemePreference" />
  </wsdl:message>
  <wsdl:message name="IAccountInfoService_GetSchemePreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemePreferenceResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountInfoService">
    <wsdl:operation name="ViewPersonalInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountInfoService/ViewPersonalInfo" message="tns:IAccountInfoService_ViewPersonalInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountInfoService/ViewPersonalInfoResponse" message="tns:IAccountInfoService_ViewPersonalInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewBankInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountInfoService/ViewBankInfo" message="tns:IAccountInfoService_ViewBankInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountInfoService/ViewBankInfoResponse" message="tns:IAccountInfoService_ViewBankInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSchemeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountInfoService/GetCurrentSchemeDetails" message="tns:IAccountInfoService_GetCurrentSchemeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountInfoService/GetCurrentSchemeDetailsResponse" message="tns:IAccountInfoService_GetCurrentSchemeDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchemePreference">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountInfoService/GetSchemePreference" message="tns:IAccountInfoService_GetSchemePreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountInfoService/GetSchemePreferenceResponse" message="tns:IAccountInfoService_GetSchemePreference_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountInfoService" type="tns:IAccountInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewPersonalInfo">
      <soap:operation soapAction="http://tempuri.org/IAccountInfoService/ViewPersonalInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewBankInfo">
      <soap:operation soapAction="http://tempuri.org/IAccountInfoService/ViewBankInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSchemeDetails">
      <soap:operation soapAction="http://tempuri.org/IAccountInfoService/GetCurrentSchemeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemePreference">
      <soap:operation soapAction="http://tempuri.org/IAccountInfoService/GetSchemePreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountInfoService">
    <wsdl:port name="BasicHttpBinding_IAccountInfoService" binding="tns:BasicHttpBinding_IAccountInfoService">
      <soap:address location="http://localhost:50585/AccountInfoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>