DSP/Service References/AccountTransferService/AccountTransferService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62803/AccountTransferService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" />
  <xs:complexType name="AccountTransferSvcResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoanPaymentData" nillable="true" type="tns:ArrayOfLoanPaymentData" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="TransactionSummaryData" nillable="true" type="q1:ArrayOfTransactionSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransferSvcResponse" nillable="true" type="tns:AccountTransferSvcResponse" />
  <xs:complexType name="ArrayOfLoanPaymentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanPaymentData" nillable="true" type="tns:LoanPaymentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanPaymentData" nillable="true" type="tns:ArrayOfLoanPaymentData" />
  <xs:complexType name="LoanPaymentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LoanId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UniqueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanPaymentData" nillable="true" type="tns:LoanPaymentData" />
</xs:schema>