DSP/Service References/AccountTransferService/AccountTransferService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62803/AccountTransferService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:import schemaLocation="http://localhost:62803/AccountTransferService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common.Entities" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="workflowRequest" nillable="true" type="q1:AccountTransferSvcRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Entities" minOccurs="0" name="ExecuteResult" nillable="true" type="q2:AccountTransferSvcResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>