DSP/Service References/WithdrawService/WithdrawService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContractLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResponse" nillable="true" type="tns:ValidationResponse" />
  <xs:complexType name="ExitRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateRaised" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExitRequestResponse" nillable="true" type="tns:ExitRequestResponse" />
</xs:schema>