DSP/Service References/WithdrawService/WithdrawService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50967/WithdrawService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" />
  <xs:element name="WithdrawT1Amount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
        <xs:element minOccurs="0" name="product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withdrawPercent" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawT1AmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="WithdrawT1AmountResult" nillable="true" type="q1:ValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
        <xs:element minOccurs="0" name="schemeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="ExitRequestResult" nillable="true" type="q2:ValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExitStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
        <xs:element minOccurs="0" name="schemeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExitStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataContractLibrary" minOccurs="0" name="GetExitStatusResult" nillable="true" type="q3:ExitRequestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>