AgrregatorSvc/Service References/AccountBankingService/AccountBankingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContractLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContractLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HoldingSummaryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoldingSummaryData" nillable="true" type="tns:ArrayOfHoldingSummaryData" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoldingSummaryResponse" nillable="true" type="tns:HoldingSummaryResponse" />
  <xs:complexType name="ArrayOfHoldingSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoldingSummaryData" nillable="true" type="tns:HoldingSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoldingSummaryData" nillable="true" type="tns:ArrayOfHoldingSummaryData" />
  <xs:complexType name="HoldingSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoldingSchemeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nav" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalUnits" type="xs:decimal" />
      <xs:element minOccurs="0" name="Uniqueid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoldingSummaryData" nillable="true" type="tns:HoldingSummaryData" />
  <xs:complexType name="ArrayOfUserContributionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserContributionData" nillable="true" type="tns:UserContributionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserContributionData" nillable="true" type="tns:ArrayOfUserContributionData" />
  <xs:complexType name="UserContributionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uniqueid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserContributionData" nillable="true" type="tns:UserContributionData" />
  <xs:complexType name="PersonalDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" type="xs:int" />
      <xs:element minOccurs="0" name="Uniqueid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalDetails" nillable="true" type="tns:PersonalDetails" />
  <xs:complexType name="ValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResponse" nillable="true" type="tns:ValidationResponse" />
</xs:schema>