AggregatorSvcService/Service References/AccountTransferService/AccountTransferService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountTransferSvcRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumberUniqueId" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessAccountUniqueId" type="xs:int" />
      <xs:element minOccurs="0" name="ExecuteWorkflow" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewAccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="NewBusinessAccountNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransferSvcRequest" nillable="true" type="tns:AccountTransferSvcRequest" />
</xs:schema>